:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app__main {
  flex: 1;
  transition: margin-left 200ms ease;

  &--sidebar {
    margin-left: 240px;
  }

  &--sidebar.app__main--collapsed {
    margin-left: 64px;
  }
}