<section class="features">
  <div class="features__container container">
    <span class="features__label">CAPABILITIES</span>
    <h2 class="features__heading">What you can do</h2>
    <div class="features__grid">
      @for (feature of features(); track feature.title) {
        <div class="features__card">
          <div class="features__icon features__icon--{{ feature.icon }}">
            <span class="material-icons">{{ feature.icon }}</span>
          </div>
          <h3 class="features__card-title">{{ feature.title }}</h3>
          <p class="features__card-description">{{ feature.description }}</p>
        </div>
      }
    </div>
  </div>
</section>